html {
    background-color: rgb(255, 252, 211);
}
.header {
    background-image: url(images/3-fruit.jpg);
    background-size: cover;
    height: 300px;
}
.site-id {
    text-align: center;
    background-color: rgb(255, 255, 255, 70%);
    border-top: 4px solid black;
    padding: 20px;
    margin: 0px;
}
.wrapper {
    background-color:  rgb(255, 250, 185);
    padding: 5 0 5 0;
}